.sass-cache
/*.log
.DS_Store
.nrepl-port
.lein-*
/target
/*-init.clj
/resources/public/js/compiled/*
!/resources/public/js/compiled/.keep
/resources/public/css/compiled/*
!/resources/public/css/compiled/.keep
out
figwheel_server.log
node_modules
