db:
  image: postgres:10.5
  ports:
    - "5432"
  environment:
    - POSTGRES_USER=msc
    - POSTGRES_PASSWORD=password
  volumes:
    - ./services/postgres/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
