{:db {:host        "localhost"
      :port        "5432"
      :dbtype      "postgresql"
      :dbname      "msc"
      :classname   "org.postgresql.Driver"
      :user        "msc"
      :password    "password"}
 :environment "development"
 :jetty {:port 9000}}
