{:db {:classname   "org.postgresql.Driver"
      :subprotocol "postgresql"
      :user        "caseworker"
      :password    "password"
      :subname     "//localhost:5432/caseworker"}
 :environment "development"
 :google-client-id "174928214934-m0rbjmumbsa0p5ubtuq7ljpe60evoen9.apps.googleusercontent.com"
 :jetty {:port 9000}}
